body{
  
  
	background: black;
   
   background-image: url("photos/bg.jpg");
   background-repeat: no-repeat;
   background-size:1000px;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;

  }


p{
	font-size: 25px;
	color:gold;
	padding-left: 60px;
	border: 1px solid gold ;
	margin-left: 500px;
	margin-right: 500px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px auto;
	padding: 20px;
	margin-right: 500px;
	border: 1px solid #ccc;
	border-radius: 5px;
	max-width: 300px;
	
			
}

input[type="text"], input[type="email"], textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, sans-serif;
}

textarea {
	height: 150px;
}



input[type="submit"]:hover {
	background-color: #3e8e41;
}

label {
	font-size: 16px;
	font-family: Arial, sans-serif;
	margin-bottom: 10px;
}

button{
    padding: 10px 15px;
	border-radius:10px;
	font-size: 25px;
	font-weight: bolder;
	cursor:pointer;
    text-align: center;
    margin-left: 500px;
	margin-bottom: 30px;
}


.logob{
	width: 90px;
	height: 90px;
	
	}
	
	.header{
  
	 /* background-color: #000000; */
	 border: 5px solid gold ;
	 width: 100%;
	 margin: 0%;
	 padding : 0px;
	 display: flex;
	 align-items: left;
	justify-content: space-between;
	}
  
	.header h1 {
	  color:gold;
	  padding-left: 10px;
	}
  
	.header ul li{
	  display: inline-block;
	  list-style: none;
	  margin: 15px 20px;
	  align-items: left;
	}
  
  .header ul li a{
	  text-decoration: none;
	  /* color: #000000; */
	  color: gold;
  }
  
  .header ul li a:hover{
	  color: #ff4321;
  } 

  .check{
	align-content: center;
	text-align: center;
  }