body{
    background: black;
   background-image: url("photos/bg.jpg");
   background-repeat: no-repeat;
   background-size:1000px;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;

  }

.choose{
    color: gold;
    font-size: medium;
    line-height: 2;
    padding-left: 30px;
    padding-right: 30px;
}

.logob{
  width: 90px;
  height: 90px;
  
  }
  
  .header{

   /* background-color: #000000; */
   border: 5px solid gold ;
   width: 100%;
   margin: 0%;
   padding : 0px;
   display: flex;
   align-items: left;
  justify-content: space-between;
  }

  .header h1 {
    color:gold;
    padding-left: 10px;
  }

  .header ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
    align-items: left;
  }

.header ul li a{
    text-decoration: none;
    /* color: #000000; */
    color: gold;
}

.header ul li a:hover{
    color: #ff4321;
}
  
p{
    font-size: larger;
    text-align: center;
    border: 5px solid gold ;
    margin-right: 900px;
}

summary{
    font-size: large;
}

button{
    padding: 10px 15px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bolder;
	cursor: pointer;
    text-align: right;
}